@media screen and (max-width: 700px) {
    header .container{
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

    header .container nav a {
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 1000px) {
    .filme-principal .container {
        width: 50%;
    }
}

@media screen and (max-width: 559px) {
    .filme-principal .container {
        width: auto;
    } 
    .botao{
        width: 45%;
        margin: 10px;
        height: 60px;
    }

    .botoes {
        margin: 0;
        display: flex;
    }
}

@media screen and (max-width: 500px) {

}

@media screen and (max-width: 450px) {
    .botoes {
        display: flex;
        flex-direction: column;
    }

    .botao {
        margin: 8px;
        width: auto;
    }
}